<section id="statistique" [class.dark-mode]="isDarkMode">
    <div class="container">
        <div class="row-stat" id="row1">
            <div class="case" id="case1">
                <div id="case1-top">
                    <div>
                        <h3>Les statistiques</h3>
                        <a href="">Insight</a>
                    </div>
                    <img [src]="main_character" alt="" srcset="">
                </div>
                
                
                <div id="stat-case">
                    <div>
                        <p>Nombre d’élève</p>
                        <span>970</span>
                    </div>
                    <div>
                        <p>Nombre de participant</p>
                        <span>XXX</span>
                    </div>
                    <div>
                        <p>Nombre de participant</p>
                        <span>XXX</span>
                    </div>
                </div>
            </div>
            <div class="case" id="case2">
                <h4>Départements</h4>
                <canvas id="graphic2"></canvas>
            </div>
            <div class="case" id="case3">
                <h4>Départements</h4>
                <canvas id="graphic3"></canvas>
            </div>
        </div>
        <div class="row-stat" id="row2">
            <div class="case" id="case4">
               <h4>Départements</h4>
                <canvas id="graphic4"></canvas>
            </div>
            
            <div class="case" id="case5"></div>
            <div class="case" id="case6">
                <h4>Notifications</h4>
                <div class="notification">
                    <img src="" alt="">
                    <p>Pavel Nedved a répondu au quizz</p>
                </div>
            </div>
        </div>
        
    </div>
    <div>
        
      </div>
      
</section>