<footer [class.dark-mode]="isDarkMode">
    <div class="container">
        <div class="left">
            <div id="about">
                <h4>A-propos</h4>
                <p>L'IUT Gustave presente son nouveaux site de reservation de produit dessus vous pourrez reservez les objets que vous pourrez emprunter pour une utilisation profesionel ou personnel.</p>
            </div>
        </div>
        <div class="right">
            <div id="contact">
                <h4>Contact</h4>
                <ul>
                    <li>IUT GUSTAVE EIFFEL</li>
                    <li>17 Rue Jablinot, 77100 Meaux</li>
                    <li>scolarite.iut@univ-eiffel.fr </li>
                    <li>33(1).60.95.75.00</li>
                </ul>
            </div>
            <div id="sector">
                <h4>Filiere</h4>
                <ul>
                    <li>Métier du multimédia et l'internet</li>
                    <li>Technique de commercialisaton</li>
                    <li>Gestion des Entreprises et des Administrations</li>
                    <li>Licence pro mention CMS</li>
                    <li>Licence pro mention assurance</li>
                </ul>
            </div>
            <div id="campus">
                <h4>Ressource Annexe</h4>
                <ul>
                    <li routerLink="/portfolio">Portfolio</li>
                    <li>xxxx</li>
                    <li>xxxx</li>
                    <li>Licence pro mention CMS</li>
                    <li>Licence pro mention assurance</li>
                </ul>
            </div>
        </div>
        
        
        
    </div>
    <div id="under-footer">
        <p>#Designed by les raslards</p>
    </div>
    
</footer>