<section id="FAQ-section" [class.dark-mode]="isDarkMode">

    <div id="wrapper1">
        <p id="logo-faq">faq</p>
        <h2>Question fréquentes</h2>
        <p id="subtitle">Bienvenue sur notre page FA Neve umpin a allumé <br> des questions sur les momonasies à fournir</p>
    </div>

    <div id="wrapper2">
        <div class="line"></div>
        <div class="question" >
            <div class="question-top">
                <h4>What is 123 done ?</h4>
                <i (click)="clickPanel($event)" class="fa-solid fa-chevron-down" id="chevron"></i>

            </div>
            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, magnam cum. Unde cum accusamus doloribus, voluptates molestiae numquam commodi, fugiat, nihil error magnam nobis quo ratione officiis quis? Iure beatae itaque vitae.</p>

        </div>
        <div class="line"></div>
        <div class="question">
            <div class="question-top">
                <h4>What is 123 done ?</h4>
                <i (click)="clickPanel($event)" class="fa-solid fa-chevron-down" id="chevron"></i>

            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, magnam cum. Unde cum accusamus doloribus, voluptates molestiae numquam commodi, fugiat, nihil error magnam nobis quo ratione officiis quis? Iure beatae itaque vitae.</p>
        </div>
        <div class="line"></div>
        <div class="question">
            <div class="question-top">
                <h4>What is 123 done ?</h4>
                <i (click)="clickPanel($event)" class="fa-solid fa-chevron-down" id="chevron"></i>

            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, magnam cum. Unde cum accusamus doloribus, voluptates molestiae numquam commodi, fugiat, nihil error magnam nobis quo ratione officiis quis? Iure beatae itaque vitae.</p>
        </div>
        <div class="line"></div>
        <div class="question">
            <div class="question-top">
                <h4>What is 123 done ?</h4>
                <i (click)="clickPanel($event)" class="fa-solid fa-chevron-down" id="chevron"></i>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, magnam cum. Unde cum accusamus doloribus, voluptates molestiae numquam commodi, fugiat, nihil error magnam nobis quo ratione officiis quis? Iure beatae itaque vitae.</p>
            <div class="line"></div>
        </div>
    </div>
    <div id="wrapper3">
        <div id="have-questions">
            <h3>Avez vous d’autre question ?</h3>
            <p class="subtitle">Lorem ipsum dolor sit amet consectetur. Mattis phasellus diam aliquam ultricies faucibus. Ipsum phasellus feugiat rutrum et tellus.</p>
            <button (click)="clickContact()" id="button-contact" >contact</button>
            <form action="">
                <div id="part-first-form">
                    <input type="text" id="" placeholder="Your email">
                </div>
                <div id="part-snd-form">
                    <input type="text" id="" placeholder="Your Name">
                    <input type="text" id="" placeholder="SUBJECT">
                </div>
                <div id="part-third-form">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
                </div>
                <div id="part-button-form">
                    <button>
                        <p>Envoyer</p>
                    </button>
                </div>
            </form>
            
            
        </div>
        

    </div>
</section>

