main{
    position: relative;
    z-index: 2;
    /* overflow:visible; */
    
}

main .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px; 
    padding-bottom: 50px;
}

main .container .left,
main .container .right {
    width: 100%;
}
main .container .left{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
main .container .left h1{
    display: flex;
    flex-direction: column;
    /* color: #fff; */
    font-size: 64px;
    font-family: 'Helvetica';
    font-weight: 700;
    text-transform: uppercase;
    overflow: hidden;
    color: #fff;
}





main .container .left p{
    color: #fff;
    font-size: 14px;
    font-family: 'Helvetica';
    font-weight: 400;
}
#cta-visit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: #F2F5F9;
    border-radius: 54px;
    box-sizing: unset;
    max-width: fit-content;
    padding: 5px;
    margin-top: 50px;
    font-family: 'Poppins',  sans-serif;
}

#cta-visit p {
   color: black;
   padding-left: 17px;
   font-size: 14px;
   font-weight: 500;
   font-family: 'Poppins';
}

#cta-visit a {
    background-color: #4477CE;
    padding: 10px 18px;
    border-radius: 30px;
    font-size: 14px;
}

main .container  .right img{
    /* z-index: 5; */
    height: 600px;
    padding-left: 0px ;
    transform: translateY(30px) translateX(25px);
}

.blob{
    position: absolute;
    /* z-index: 5; */
    height: 110px;
    transform: translateY(250px) translateX(-100px);
}

.blob:nth-of-type(2){
    position: absolute;
    height: 60px;
    transform: translateX(-180px) translateY(100px);
    filter: blur(4px);
}

.blob:nth-of-type(3){
    position: absolute;
    height: 40px;
    transform: translateY(-250px) translateX(-25px);
    filter: blur(1px);
}

.blob:nth-of-type(4){
    position: absolute;
    height: 30px;
    transform: translateY(-150px) translateX(450px);
    filter: blur(4px);
}

.blob:nth-of-type(5){
    position: absolute;
    height: 80px;
    /* transform: translateX(500px) translateY(250px); */
    top: 250px;
    right: 100px;
    filter: blur(2px);
}

#blur2{
    position: absolute;
    width: 80%;
    z-index: -1;
    /* transform: translateY(-770px); */
}

@media screen and (max-width: 1400px){
    main .container .left h1{
        font-size: 57px;
    }
    main .container  .right img{
        height: 570px;
        padding-left: 0px ;
        transform: translateY(30px) translateX(25px);
    }
    .blob:nth-of-type(5){
        transform: translateX(400px);
    }
} 

@media screen and (max-width: 1240px){
    main .container .left h1{
        font-size: 54px;
    }
    #cta-visit{
        margin-top: 25px;
    }
    main .container  .right img{
        height: 530px;
    }
    #blur2{
        transform: translateY(200px);
    }
} 

@media screen and (max-width: 1180px){
    main .container .left h1{
        font-size: 50px;
    } 
    main .container {
        gap: 10px; 
    }
    #cta-visit p {
        font-size: 12px;
        align-items: center;
    }
     
    #cta-visit a {
        border-radius: 30px;
        font-size: 12px;
    }
    main .container  .right img{
        height: 510px;
    }
    #blur2{
        transform: translateY(200px);
    }
}

@media screen and (max-width: 1024px){
    main .container .left h1{
        font-size: 45px;
    } 
    main .container .left p{
        font-size: 12px;
    } 
    #cta-visit p {
        padding-left: 15px;
        font-size: 10px;
    }
     
    #cta-visit a {
        padding: 10px 18px;
        border-radius: 30px;
        font-size: 10px;
    }
    main .container  .right img{
        height: 500px;
    }
    .blob{
        height: 80px;
        transform: translateY(200px) translateX(-80px);
    }
    .blob:nth-of-type(2){
        position: absolute;
        height: 40px;
        transform: translateX(-120px) translateY(100px);
        filter: blur(4px);
    }
    .blob:nth-of-type(4){
        height: 30px;
        transform: translateY(-150px) translateX(350px);
    }
    .blob:nth-of-type(5){
        position: absolute;
        height: 50px;
        transform: translateX(400px) translateY(200px);
        filter: blur(2px);
    }
    #blur2{
        transform: translateY(200px);
    }
}

@media screen and (max-width: 900px){
    main .container .left h1{
        font-size: 42px;
    } 
}

@media screen and (max-width: 850px){
    main .container .left h1{
        font-size: 38px;
    }
    main .container .left p{
        font-size: 10px;
    } 
    main .container  .right img{
        height: 450px;
    }
    .blob{
        transform: translateY(200px) translateX(-60px);
    }
    .blob:nth-of-type(2){
        position: absolute;
        height: 40px;
        transform: translateX(-100px) translateY(100px);
        filter: blur(4px);
    } 
    .blob:nth-of-type(3){
        position: absolute;
        height: 40px;
        /* top: 10%; */
        transform: translateY(-150px) translateX(-25px);
        filter: blur(1px);
    }
    .blob:nth-of-type(5){
        transform: translateX(320px) translateY(150px);
    }
    
}

@media screen and (max-width: 768px){ 
    main .container {
        display: flex;
        flex-direction: column-reverse;
        gap: 70px;
        /* justify-content: center; 
        align-items: center;     
        gap: 15px;                */
    }
    main .container .left,
    main .container .right {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main .container .left h1{
        display: flex;
        flex-direction: row;
    }
    main .container .left #subtitle{
       font-size: 12px;
       padding: 10px 10% 0 10%;
    }
    main .container  .right img{
        height: 250px;
        margin-top: 20px;
    }
    #cta-visit{
        gap: 20px;
    }
    #cta-visit p {
        font-size: 12px;
    }
     
    #cta-visit a {
        padding: 10px 18px;
        border-radius: 30px;
        font-size: 12px;
    }
    .blob{
        transform: translateY(240px) translateX(-200px);
    }
    .blob:nth-of-type(2){
        position: absolute;
        height: 40px;
        top: 63%;
        transform: translateX(-250px) translateY(-350px);
        filter: blur(4px);
    } 
    .blob:nth-of-type(3){
        position: absolute;
        height: 40px;
        /* top: 10%; */
        transform: translateY(-200px) translateX(-70px);
        filter: blur(1px);
    }
    .blob:nth-of-type(4){
        height: 30px;
        transform: translateY(-200px) translateX(200px);
    }
    .blob:nth-of-type(5){
        transform: translateX(230px) translateY(50px);
    }
    #blur2{
        transform: translateY(200px);
        width: 100%;
    }
}

@media screen and (max-width: 630px){ 
    main .container {
        gap: 70px;
    }
    main .container .left h1{
        font-size: 35px;
        font-size: 200%;
    }
    main .container .left #subtitle{
       font-size: 12px;
       width: 100%;
       padding: 10px 5% 0 5%;
    }
    main .container  .right img{
        margin-top: 0px;
        transform: translateY(30px) translateX(0px);
    }
    .blob:nth-of-type(2){
        position: absolute;
        height: 40px;
        top: 63%;
        transform: translateX(-200px) translateY(-350px);
        filter: blur(4px);
    } 
    .blob:nth-of-type(4){
        height: 30px;
        transform: translateY(-200px) translateX(150px);
    }
    #cta-visit{
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 520px){
    main .container {
        gap: 30px;
    }
    main .container .left h1{
        flex-direction: column;
        align-items: center;
    }
    main .container .left #subtitle{
        text-align: center;
        font-size: 10px;
    }
    main .container  .right img{
        margin-top: 0px;
    }
    .blob{
        height: 50px;
        transform: translateY(250px) translateX(-150px);
    }
    .blob:nth-of-type(3){
        position: absolute;
        height: 40px;
        /* top: 10%; */
        transform: translateY(-220px) translateX(-100px);
        filter: blur(1px);
    }
    .blob:nth-of-type(5){
        transform: translateX(190px) translateY(-70px);
    }
    #blur2{
        transform: translateY(250px);
    }
}

@media screen and (max-width: 425px){
    .blob{
        height: 50px;
        transform: translateY(250px) translateX(-150px);
    }
    .blob:nth-of-type(2){
        height: 40px;
        transform: translateX(-120px) translateY(-570px);
        filter: blur(4px);
    } 
    .blob:nth-of-type(3){
        transform: translateY(-220px) translateX(-70px);
    }
    .blob:nth-of-type(4){
        height: 30px;
        transform: translateY(-200px) translateX(120px);
    }
    .blob:nth-of-type(5){
        transform: translateX(120px) translateY(-70px);
    }
}

#jpo-date .card-part{
    display: flex;
    flex-direction: column ;
    align-items: center;
    gap: 0px;
    width: 100%;
    padding-bottom: 50px;
    
}
#jpo-date .card-part .c1{
    height: 35px;
    width: 65%;
    background-color: #387FF7;
    border-radius: 15px 15px 0 0;
}

#jpo-date .card-part .c2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 80%;
    z-index: 2;
    border-radius: 15px;
    padding: 0px 100px;
    padding: 30px 100px;
}

#jpo-date .card-part h1{
    font-size: 38px;
    font-family: 'Helvetica';
    padding: 20px 0; 
}

#jpo-date #date-c2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#jpo-date #date-c2 .date{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #f1F1f1;
    font-size: 50px;
    font-family: 'Helvetica';
    font-weight: 500;
    padding: 0 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#jpo-date #date-c2 p{
    font-size: 35px;
    font-family: 'Helvetica';
    font-weight: 600;
    margin-left: 20px;
    color: #242426;
}

@media screen and (max-width: 1024px){
    #jpo-date .card-part .c2{
        padding: 30px 70px;
    }
    #jpo-date .card-part h1{
        font-size: 30px;
    }
    
    #jpo-date #date-c2 .date{
        font-size: 40px;
        padding: 0 25px;
    }
    #jpo-date #date-c2 p{
        font-size: 30px;
        font-family: 'Helvetica';
        font-weight: 600;
        margin-left: 10px;
    }
    #jpo-date #date-c2 .date{
        font-size: 40px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 900px){
    #jpo-date .card-part{
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 850px){
    #jpo-date .card-part .c2{
        padding: 30px 40px;
    }
}

@media screen and (max-width: 768px){
    main .container {
        gap: 40px;
    }
    #jpo-date .card-part .c2{
        padding: 30px 20px;
    }
    #jpo-date .card-part h1{
        font-size: 23px;
    }
    #jpo-date .card-part .c2{
        padding: 20px 30px;
    }
}

@media screen and (max-width: 630px){
    #jpo-date .card-part .c1{
        height: 25px;
    }
    #jpo-date .card-part .c2{
        width: 90%;
    }
    #jpo-date #date-c2 p{
        font-size: 24px;
    }
    /* #blur2{
        transform: translateY(-170px);
    } */
}

@media screen and (max-width: 520px){
    #jpo-date .card-part h1{
        font-size: 17px;
        padding: 10px 0;
    }
    #jpo-date #date-c2 p{
        font-size: 17px;
        margin-left: 0px;
    }
    #jpo-date .card-part .c2{
        justify-content: space-around;
        gap: 15px;
        padding: 20px 30px;
    }
    #jpo-date #date-c2 .date{
        font-size: 20px;
        padding: 0 10px;
        height: 80%;
    }
}

@media screen and (max-width: 325px){
    #jpo-date .card-part h1{
        font-size: 14px;
    }
    #jpo-date #date-c2 p{
        font-size: 14px;
    }
}

/*PRESENTATION*/
#presentation{
    /* position: relative;
    background-color: #111;
    z-index: 20; */
    padding: 100px 0px ;
}

#presentation .container{
    display: flex;
    flex-direction: column;
    gap: 200px;
    align-items: flex-start;
    width: 100%;
}

#presentation .container h2,
#presentation .container p{
    font-family: 'Helvetica';
    font-weight: 600;
    
}

#presentation .container h2{
    font-size: 25px;
    margin: 0 auto;
    text-transform: uppercase;
    opacity: 0;
}

#presentation .container p{
    font-size: 25px;
    text-align: left;
    width: 50%;
}

#presentation .container p span:nth-child(1){
    color: #ffffff;
    text-transform: uppercase;
}

#presentation .container p span:nth-child(2){
    text-transform: uppercase;
}

#presentation .container p span{
    color: #ffffff53;
}

@media screen and (max-width: 1180px){
    #presentation .container{
        gap: 150px;
    }
}

@media screen and (max-width: 1024px){
    #presentation .container p{
        font-size: 23px;
    }
}

/* @media screen and (max-width: 900px){
    #presentation{
        padding: 100px 50px ;
    }
} */

@media screen and (max-width: 768px){
    #presentation .container{
        gap: 100px;
    }
    #presentation{
        padding: 75px 50px ;
    }
    #presentation .container h2{
        font-size: 23px;
        text-align: center;
    }
    #presentation .container p{
        width: 70%;
    }
}

@media screen and (max-width: 630px){
    #presentation .container p{
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 425px){
    #presentation .container{
        gap: 70px;
    }
    #presentation .container h2,
    #presentation .container p{
        font-size: 20px;
    }
}

/*CARD-UI SECTION*/
#card-ui-section {
    padding: 100px 0;   
}

#card-ui-section .container{
    flex-direction: column;
}

#card-ui-section .container h2{
    text-align: left;
    width: 100%;
    color: #ffffff84;
    font-size: 28px;
    font-family: 'Helvetica';
    font-weight: 600;
}

#wrapper-card-ui{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 100px 0;
    flex-wrap: nowrap;
    gap: 20px;
    overflow: hidden;
    padding-left: 10%;
    padding-right: 5%;
}

#wrapper-card-ui::-webkit-scrollbar{
    display: none;
}

#wrapper-card-ui .card{
    display: flex;
    flex-direction: row;
    background-color: #242426;
    border-radius: 15px;
}

#wrapper-card-ui .card .left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    padding: 30px 30px; 
    height: 100%; 
    width: 250px;
}

#wrapper-card-ui .card .left h3{
    font-family: 'Montserrat';
    font-weight: 700;
    color: #fff;
}

#wrapper-card-ui .card .left p{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 13px;
    color: #fff;
}

#wrapper-card-ui .card .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}

#wrapper-card-ui .card img{
    max-height: 200px;
    transform: translateX(-20px);
    transition:  .4s ease;
}

#wrapper-card-ui #MMI:hover{
    background-color: #387FF7;
}

#wrapper-card-ui #TC:hover{
    background-color: #e5e374;
}

#wrapper-card-ui #GEA:hover{
    background-color: #C683D7;
}

#wrapper-card-ui #CMS:hover{
    background-color: #C70039;
}

#wrapper-card-ui #assurance:hover{
    background-color: #33BBC5;
}

#wrapper-card-ui .card:hover img{
    transform: translateY(-100px) translateX(-20px) rotate(30deg);
}

#button-card{
    display: flex;
    justify-content: right;
    gap: 10px;


}

#button-card button{
    border-radius: 100%;
    border: none;
    height: 40px;
    width: 40px;
    background-color: #242426;
}

#button-card button i{
    color: #fff;
    font-size: 17px;
}

@media screen and (max-width: 1240px) {
    #wrapper-card-ui{
        padding-left: 7%;
    }
}

@media screen and (max-width: 1024px) {
    #card-ui-section {
        padding: 100px 0 50px 0;   
    }
    #wrapper-card-ui{
        padding-left: 7%;
    }
    #wrapper-card-ui .card .left h3{
        font-size: 17px;
    }
    #wrapper-card-ui .card .left p{
        font-size: 12px;
    }
    #wrapper-card-ui .card img{
        max-height: 180px;
    }
}

@media screen and (max-width: 768px) {
    #wrapper-card-ui .card.left {
        padding: 25px 25px; 
    }
}

@media screen and (max-width: 520px) {
    #wrapper-card-ui .card .left p{
        font-size: 11px;
    }
    #wrapper-card-ui .card img{
        max-height: 160px;
    }
}

@media screen and (max-width: 325px) {
    #wrapper-card-ui .card .left {
    gap: 15px;
    padding: 20px 20px; 
    height: 100%; 
    width: 230px;
    }
    #wrapper-card-ui .card .left h3{
        font-size: 16px;
    }
    #wrapper-card-ui .card .left p{
        font-size: 10px;
    }
    #wrapper-card-ui .card img{
        max-height: 140px;
    }
}

/*EXPLORATION*/

#exploration{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.reveal{
    opacity: 0;
    transform: translateY(30px);
}

.reveal-visible{
    opacity: 1;
    transform: translateY(0);
    transition: .5s;
}

#exploration .container{
    display: flex;
    flex-direction: row;
}

#exploration .container .left{
    width: 100%;
}   

#exploration .container .left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#exploration .container .left #feature {
    background-color: #fff;
    color: #242426;
    width: fit-content;
    padding: 6px 15px;
    font-size: 9px;
    border-radius: 20px;
    font-family: 'Poppins';
}

#exploration .container .left h2{
    font-size: 48px;
    font-family: 'Helvetica';
    font-weight: 700;
    color: #fff;
}

#exploration .container .left p:nth-of-type(2){
    color: rgba(255, 255, 255, .3);
    margin-top: 10px;
    font-family: 'Montserrat';
    font-weight: 400;
}

#exploration .container .left a{
    display: flex;
    gap: 20px;
    font-family: 'Poppins' sans-serif;
    margin-top: 30px;
}



#exploration .container .left a #link_text{
    background-color: #f1F1f1;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 16px;
}

#exploration .container .left a #link_text p{
    font-family: 'Poppins';
    font-size: 14px;
    color: #242426;
}





#exploration .container .right{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#exploration .container .right .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #387FF7;
    padding: 15px ;
    border-radius: 10px;
}

#exploration .container .right .card img{
    height: 200px;
    position: relative;
    transition: .4s ease;
}

#exploration .container .right .card:hover img{
    transform:  translateY(-50px) scale(1.3);
}

#exploration .container .right .card h3{
    font-size: 40px;
    color: #fff;
    font-family: 'Helvetica';
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
    display: inline;
}

#exploration .container .right .card p{
    color: rgba(255, 255, 255, .3);
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 12px;
    width: 80%;
    text-align: center;
    margin-top: 20px;
}

#exploration .container .right .card a{
    margin-top: 50px;
    width: 100%;
    text-align: center;
    background-color: #111;
    padding: 10px 0;
    border-radius: 10px;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 16px;
}

@media screen and (max-width: 1024px) {
    #exploration .container .left h2 br{
        display: none;
    }
    #exploration .container .right .card h3{
        font-size: 30px;
        margin-top: 0px;
    }
    #exploration .container .right .card a{
        margin-top: 40px;
    }
}

@media screen and (max-width: 900px) {
    
    #exploration .container .left h2{
        font-size: 40px;
    }
    #exploration .container .right .card img{
        height: 170px;
    }
    
    #exploration .container .left p:nth-of-type(2){
        margin-top: 7px;
        font-size: 13px;
    }
    #exploration .container .left a div:nth-child(1){
        background-color: #fff;
        padding: 10px 22px;
        border-radius: 20px;
        font-size: 13px;
    }
}

@media screen and (max-width: 850px) {
    #exploration .container{
        display: flex;
        flex-direction: column;
        gap: 90px;
    }
}

@media screen and (max-width: 520px) {
    #exploration .container .left h2{
        font-size: 30px;
    }
    #exploration .container .left p:nth-of-type(2){
        margin-top: 5px;
        font-size: 12px;
    }
    #exploration .container .right .card a{
        margin-top: 20px;
    }
    #exploration .container{
        display: flex;
        flex-direction: column;
        gap: 70px;
    }
    #exploration .container .left a div:nth-child(1){
        background-color: #fff;
        padding: 8px 16px;
        border-radius: 20px;
        font-size: 11px;
    }
}

@media screen and (max-width: 425px){
    #exploration .container .right{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

/*Quote Section*/
#quote-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px 0;
}

#quote-section h2{
    color: #fff;
    font-family: 'Poppins';
    font-weight: 400;
}

#quote-section .container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    gap: 20px;
    padding-top: 30px;
}

#quote-section .container:nth-of-type(1){
    padding-top: 100px;
}

#quote-section .container .quote-block{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: fit-content;
    padding: 30px;
    max-height: fit-content;
    font-family: 'Poppins';
    font-weight: 400;
    background-color: #242426;
    border-radius: 15px;
    color: #fff;
}

#quote-section .container .quote-block img{
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}

#quote-section .container .quote-block p{
    width: 100%; 
    font-size: 14px;
    text-align: justify;
}

#quote-section .container .quote-block .name{
    font-size: 13px;
}

#quote-section .container .quote-block .statut{
    font-size: 13px;
}

@media screen and (max-width: 900px) {
    #quote-section .container .quote-block img{
        height: 45px;
        width: 45px;
        margin-bottom: 7px;
    }
    
    #quote-section .container .quote-block p{
        width: 100%; 
        font-size: 12px;
    }
    
    #quote-section .container .quote-block .name{
        font-size: 12px;
    }
    
    #quote-section .container .quote-block .statut{
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    #quote-section .container{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 520px) {
    #quote-section{
        padding-top: 100px;
    }
    #quote-section h2{
        font-size: 20px;
    }
    #quote-section .container:nth-of-type(2){
        display: none;
    }
}

@media screen and (max-width: 325px) {
    #quote-section h2{
        font-size: 15px;
    } 
}



/*PARALAX-SECTION*/
#paralax-section .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
    text-align: center;
}

#paralax-section .container h2{
    color: #fff;
    font-family: 'Poppins';
    font-weight: 400;
    padding-bottom: 100px;
}

#paralax-section .container img{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    #paralax-section .container{
        padding: 150px 0;
    }
}

@media screen and (max-width: 850px) {
    #paralax-section .container{
        padding: 120px 0;
    }
}

@media screen and (max-width: 630px) {
    #paralax-section .container img{
        width: 80%;
    }
}

@media screen and (max-width: 520px) {
    #paralax-section .container h2{
        font-size: 18px;
        padding-bottom: 70px;
    }
}

@media screen and (max-width: 425px) {
    #paralax-section .container{
        padding: 50px 0;
    }
}

/*VIDE0-SECTION*/
#video-section{
    padding-bottom: 100px;
}
#video-section h2{
    color: #fff;
    text-align: left;
    margin-bottom: 100px;
    font-family: 'Helvetica';
    font-size: 28px;
}

#video-section #wrapper-video{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#video-section #wrapper-video .under-wrapper-video{
    display: flex;
    flex-direction: column;
    width: 360px;
    gap: 20px;
}

.video-contain{
    width: 100%;
    height: 200px;
    max-height: 200px;
    background-color: #242426;
    border-radius: 15px;
    flex-wrap: wrap;
}

#video-section #wrapper-video div h3{
    font-size: 25px;
    color: #fff;
    font-family: 'Poppins';
    font-weight: 400;
}

#video-section #wrapper-video div p{
    font-size: 12px;
    color: rgba(255, 255, 255, .3);
    font-family: 'Poppins';
    font-weight: 400;
}

@media screen and (max-width: 1400px) {
    #video-section #wrapper-video{
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
}

@media screen and (max-width: 860px) {
    #video-section #wrapper-video{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
    }
}

/*CTA-SECTION*/
#CTA-section{
    position: relative;
    padding: 150px 0px;
}


#CTA-section #CTA{
    width: 100%;
    padding: 150px 0;
    background-color: #242426;
    border-radius: 20px;
}

#CTA-section #CTA{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Poppins', serif;
    gap: 30px;
    width: 100%;
}

#CTA-section #CTA div{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#CTA-section #CTA h2{
    font-size: 60px;
}

#CTA-section #CTA p{
    font-size: 16px;
}

#CTA-section #CTA a{
    padding: 8px 20px;
    background-color: #387FF7;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 20px;
}

.cta-blob{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 50px;
}

#cta-b1{
    transform: translate(-610px,-150px);
}

#cta-b2{
    height: 90px;
    transform: translate(-410px,50px);
}

#cta-b3{
    height: 90px;
    transform: translate(300px,-30px);
}

#cta-b4{
    height: 60px;
    transform: translate(460px,-270px);
}

#cta-b5{
    height: 50px;
    transform: translate(570px,100px);
}

@media screen and (max-width: 1240px) {
    #cta-b1{
        transform: translate(-500px,-150px);
    }
    #cta-b5{
        height: 50px;
        transform: translate(100px,200px);
    }
}


@media screen and (max-width: 1024px) {
    #CTA-section #CTA{
        padding: 120px 0;
    }
    #cta-b1{
        transform: translate(-400px,-150px);
        height: 40px;
    }
    #cta-b2{
        height: 70px;
        transform: translate(-310px,50px);
    }
    #cta-b3{
        height: 70px;
        transform: translate(250px,100px);
    }
    #cta-b4{
        height: 60px;
        transform: translate(370px,-170px);
    }
    #cta-b5{
        height: 50px;
        transform: translate(-100px,100px);
    }
}

@media screen and (max-width: 900px) {
    #CTA-section #CTA{
        padding: 120px 0;
    }
    #CTA-section #CTA h2{
        font-size: 40px;
    }
    #CTA-section #CTA p{
        font-size: 14px;
    }
    #CTA-section #CTA a{
        padding: 6px 18px;
        background-color: #387FF7;
        font-size: 14px;
        border-radius: 8px;
        margin-top: 15px;
    }
    #cta-b1{
        transform: translate(-350px,-150px);
        height: 40px;
    }
    #cta-b2{
        height: 70px;
        transform: translate(-250px,50px);
    }
    #cta-b3{
        height: 70px;
        transform: translate(200px,50px);
    }
    #cta-b4{
        height: 60px;
        transform: translate(300px,-170px);
    }
    #cta-b5{
        height: 50px;
        transform: translate(70px,100px);
    }
}

@media screen and (max-width: 900px) {
    #CTA-section #CTA{
        padding: 100px 0;
        width: 100%;
    }
    #CTA-section #CTA h2{
        font-size: 30px;
    }
    #CTA-section #CTA p{
        font-size: 12px;
    }
    #CTA-section #CTA a{
        padding: 6px 18px;
        background-color: #387FF7;
        font-size: 12px;
        border-radius: 8px;
        margin-top: 15px;
    }
}

@media screen and (max-width: 768px){
    #cta-b1{
        transform: translate(-300px,-150px);
        height: 40px;
    }
    #cta-b4{
        height: 60px;
        transform: translate(250px,-170px);
    }
    #cta-b5{
        height: 50px;
        transform: translate(0px,100px);
    }
}

@media screen and (max-width: 630px){
    #cta-b1{
        transform: translate(-250px,-150px);
        height: 40px;
    }
    #cta-b4{
        height: 60px;
        transform: translate(200px,-170px);
    }
    #cta-b5{
        height: 50px;
        transform: translate(-50px,100px);
    }
}

@media screen and (max-width: 520px){
    #cta-b1{
        transform: translate(-200px,-150px);
        height: 30px;
    }
    #cta-b2{
        height: 50px;
        transform: translate(-180px,50px);
    }
    #cta-b3{
        height: 55px;
        transform: translate(140px,50px);
    }
    #cta-b4{
        height: 60px;
        transform: translate(160px,-170px);
    } 
}

@media screen and (max-width: 425px){
    #cta-b1{
        transform: translate(-180px,-150px);
        height: 30px;
    }
    #cta-b2{
        height: 45px;
        transform: translate(-160px,50px);
    }
    #cta-b3{
        height: 45px;
        transform: translate(120px,50px);
    }
    #cta-b4{
        height: 55px;
        transform: translate(130px,-170px);
    }
}

@media screen and (max-width: 325px){
    #CTA-section #CTA h2{
        font-size: 25px;
    }
    #CTA-section #CTA p{
        font-size: 11px;
        text-align: center;
    }
    #cta-b1{
        transform: translate(-100px,-150px);
        height: 30px;
    }
    #cta-b2{
        height: 45px;
        transform: translate(-140px,50px);
    }
    #cta-b3{
        height: 45px;
        transform: translate(120px,50px);
    }
    #cta-b4{
        height: 55px;
        transform: translate(100px,-170px);
    }
}


/*DARK MODE*/

/* .darkmode #cta-visit{
    background-color: #111;
}

.darkmode #cta-visit p {
   color: #fff;
}
#cta-visit a {
    background-color: #111;
} */ 


.dark-mode#main  h1{
    color: #111 !important;
}

.dark-mode#main  p{
    color: #111 !important;
}

.dark-mode #cta-visit{
    background-color: #111;
    color: #fff;
}

.dark-mode #cta-visit p {
   color: #fff !important;
}

.dark-mode #cta-visit a {
    background-color: #4477CE;
}

.dark-mode#jpo-date .card-part .c2{
    background-color: #242426;
}

.dark-mode#jpo-date .card-part h1{
    color: #fff;
}

.dark-mode .card-part .c2 p{
    color: #fff !important;
}

.dark-mode#exploration .container .left h2{
    color: #111 !important;
}

.dark-mode#exploration .container .left p{
    color: #111 !important;
}


.dark-mode#exploration .container .left a #link_text{
    background-color: #111;
}

.dark-mode#exploration .container .left a #link_text p{
    color: #fff !important;
}

.dark-mode#quote-section h2{
    color: #111;
}

.dark-mode#quote-section .container .quote-block{
    background-color: #f1f1f1a5;
    color: #111;
}

.dark-mode#paralax-section h2{
    color: #111 !important;
}

.dark-mode#video-section h2{
    color:  #0000003d !important;
}

.dark-mode .video-contain{
    background-color: #f1F1f1;
}

.dark-mode #CTA-section #CTA{
    background-color: #f1F1f1;
}

.dark-mode #CTA-section #CTA{
    color: #111 !important;
}